/*-------------------------------------------------*/
/*Basic Setup    color #ff9ff3*/  
/*-------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 00;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.clearfix {zoom: 1}
.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;
}

/*-------------------------------------------------*/
/*Reuseable Components*/
/*-------------------------------------------------*/

.row {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
}


section{
    padding: 80px 0;
    
    
}


h1,
h2,
h3{


    font-weight:300;
    letter-spacing: 1px;
    word-spacing: 4px;
    
}

h1{
    margin: 0; 
    margin-bottom: 15px;
    color: #fff;
    font-size: 230%;
    
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px; 
}

h3{
    font-size: 115%;
    margin-bottom: 10px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #ff9ff3;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.h2p{
    text-align: center;
    line-height: 145%;
}

.box{
    padding: 3%;
}
/*-------------------------------------------------*/
/*Buttons*/
/*-------------------------------------------------*/

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 15px 20px;
    margin-right: 7px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 300px;
}



.btn1{
    color: #c8d6e5;
    background-color: rgba(255, 159, 243, 0.79);
}


.btn2{
    color: #c8d6e5;
    border: 2px solid #ff9ff3;

}

/*-------------------------------------------------*/
/*Header*/
/*-------------------------------------------------*/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(img/bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------------------------------*/
/*gallery snippet*/
/*-------------------------------------------------*/

.gsnip{
    padding: 0;
}

.g-showcase{
    list-style: none;
    width: 100%;
}

.g-showcase li{
    display: block;
    float: left;
    width: 25%;
    background-color: #000;
}

.gp{
    width: 100%;
    margin: 0;
    overflow: hidden;
}


.gp img{
    opacity: 0.8;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}


.gp img:hover{
    opacity: 1;
    transform: scale(1.03);
    
}

/*-------------------------------------------------*/
/*contact*/
/*-------------------------------------------------*/



.stepsbox{
    margin-top: 30px;
    
}

.phone{
    background-color:white;
}

.steps-box:first-child{
    text-align: center;
    padding-right: 3%;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;

}

.app-screen{
    width: 60%
}

.conopt{
    margin-bottom: 100px;
}

.conopt:last-of-type{
    margin-bottom: 110px;
}

.conopt div{
    color: #c8d6e5;
    border: 2px #eee;
    line-height: 40px;
    background-color: #ff9ff3; 
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align-last: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    font-weight: 400;
}

.conopt p{
    font-size: 125%;
    line-height: 54px;
    margin-bottom: 20%;
}



.btnapp img{
    height: 70px;
    margin-right: 20px;
}

.h2con{
    margin-top: 450px;
}